_wandb:
    value:
        cli_version: 0.22.3
        e:
            yz71wi3xtsoj4ypb5953r02on5thwm0k:
                codePath: Code for grid world\python_version\src\policy\TD_algorithm.py
                codePathLocal: Code for grid world\python_version\src\policy\TD_algorithm.py
                email: 24s104164@stu.hit.edu.cn
                executable: D:\Miniconda\envs\Math_RL\python.exe
                git:
                    commit: 160e6c92843e660a3eb642a849e6ff637fb8ffd6
                    remote: git@github.com:Twinkle-gif/Book-Mathematical-Foundation-of-Reinforcement-Learning.git
                host: DESKTOP-R24N6PN
                os: Windows-10-10.0.26100-SP0
                program: d:\My_Project\Book-Mathematical-Foundation-of-Reinforcement-Learning\Code for grid world\python_version\src\policy\TD_algorithm.py
                python: CPython 3.10.19
                root: D:\My_Project\Book-Mathematical-Foundation-of-Reinforcement-Learning
                startedAt: "2025-11-11T14:15:44.093806Z"
                writerId: yz71wi3xtsoj4ypb5953r02on5thwm0k
        m: []
        python_version: 3.10.19
        t:
            "3":
                - 2
                - 16
            "4": 3.10.19
            "5": 0.22.3
            "8":
                - 3
            "12": 0.22.3
            "13": windows-amd64
algorithm_type:
    value: sarsa
discount_factor:
    value: 0.9
env_size:
    value:
        - 5
        - 5
epsilon:
    value: 0.1
learning_rate:
    value: 0.1
num_episodes:
    value: 500
